# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [7]:
num_float = 2.3

print(num_float)
num_float = 7.2
print(num_float)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [11]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# result += 2

print(result + 2)

7.4
9.4

##### Subtraction

In [14]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [15]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2

print(result_mul)

10.8
21.6

##### Division

In [16]:
result_div = num2 / num1
print(result_div)

result_div /=3
print(result_div)

2.7
0.9

##### Floor Division

In [18]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [20]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [23]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [29]:
name = "Dominic"
print(name)

Dominic

##### print() <br>
<p>Don't forget about end=' '</p>

In [30]:
print("This is my first name: ", name)

print("Full name: ", name, end=" Davenport")

This is my first name:  Dominic
Full name:  Dominic Davenport

##### String Concatenation

In [33]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += ", Jr."
print(full_name)

John Smith
John Smith, Jr.

##### Type Conversion

In [36]:
number = "32"

change_type_num = int(number)

print(number)
print(change_type_num + 1)

32
33

##### input()

In [43]:
# name = input("What is your name?: ")
# print(f"Nice to meet you, {name}")
# print("Nice to meet you,",name)

age = int(input("What is your age?: "))
add_age = age + 5
print(add_age)

What is your age?: 5
10

##### format()

In [46]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age? 5
You are 5 Dominic and you are getting wiser
5 is a great time in life!!!

##### Old Way (python 2)

In [48]:
result_string2 = "You are %s and you look great for you age!" %age
print(result_string2)

You are 5 and you look great for you age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [50]:
name = input("What is your name?: ")
color = input("What is the color?: ")
year = input("What is the year?: ")
model = input("What is the make and model?: ")

print(f"{name}, your {year} {model}'s color is {color}")

What is your name?: Dominic
What is the color?: red
What is the year?: 1994
What is the make and model?: ford f-150
Dominic, your 1994 ford f-150's color is red

### If Statements

In [65]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 1

# if num1 == num2:
#     print("Equal values")
# else:
#     print("Not equal")
    
if num2 < num1 or num3 > 0:
    print("This ran")
else:
    print("You are here")

This ran

##### 'is' keyword

In [67]:
# The "is" keyword is for checking for the same object, but not the same value

num3 = 55

if num3 == 55:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [70]:
# Check if a character is in a string

char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [71]:
sega_char = "Sonic"

if "a" not in sega_char:
    print("a is not here")

a is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [75]:
user_input = input("What is your input?: ")

if "p" in user_input.lower():
    print('"p" is in your string')
else:
    print('"p" is not in your string')

What is your input?: Pony
"p" is in your string

## Using 'and'/'or' with If Statements

In [78]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [80]:
first_name = input("What is your first name? ")

if first_name == "Smith":
    print("The name is Smith")
elif first_name == "Brandon":
    print("The name is Brandon")
elif first_name != "Max":
    print("The name is NOT Max")
else:
    print("The name is Max")

What is your first name? Dominic
The name is NOT Max

### Else Statements

In [ ]:
# see above

### For Loops

In [83]:
name = "Dominic Davenport"
a_list = [1, 2, 3, 4]

for item in a_list:
    print(item)

1
2
3
4

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [85]:
for i in name:
    if i == 'o':
        continue
    print(i)

D
m
i
n
i
c

D
a
v
e
n
p
r
t

##### Break Statement

In [ ]:
# will break out of current loop

In [87]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [89]:
for i in name:
    pass

##### Double For Loops

In [91]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [92]:
num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [101]:
game_over = True

while game_over:
    print("Infinite Loop")
    user_input = input("Would you like to stop? ").lower()
    if user_input == "yes":
        game_over = False

Infinite Loop
Would you like to stop? yes

##### While & For Loops Used Together

In [103]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i))
        
    num += 1

While loop iteration: 0
For loop iteration:  0
For loop iteration:  1

While loop iteration: 1
For loop iteration:  0
For loop iteration:  1

While loop iteration: 2
For loop iteration:  0
For loop iteration:  1

While loop iteration: 3
For loop iteration:  0
For loop iteration:  1

While loop iteration: 4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [108]:
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [110]:
name = input("Give me the name of your favorite book: ")

print(len(name))

Give me the name of your favorite book: Dominic
7

##### help()

In [114]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

##### isinstance()

In [121]:
num = 5

if isinstance(num, int):
    print(f"This number is an int type")

This number is an int type

##### abs()

In [122]:
print(abs(-5))

5

### Try and Except

In [132]:
try:
    number_test = 0
    input_num = int(input("Guess a number"))
    print("your number is " + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a numberg
That didn't work! Change your input to a number!

### Lists

##### Declaring Lists

In [155]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [156]:
print(names[3])

# start at index 1 and continue till end of list
print(names[1:])

# start at the beginning and go till specified index
print(names[:2])

# start at 1 and go up by 2
print(names[1::2])

# start at the back and go in reverse
print(names[::-1])

Bob
['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'Bob']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [157]:
names.append('Dominic')
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate', 'Dominic']

##### .insert()

In [158]:
names.insert(3, 'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'Bob', 'Nate', 'Dominic']

##### .pop()

In [153]:
my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'Bob', 'Nate']


##### .remove()

In [162]:
# names.remove('Bob')
# print(names)

while 'Nate' in names:
    names.remove('Nate')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'Dominic']

##### del()

In [164]:
del(names[1])
print(names)

['Max', 'Devon', 'Dominic']

##### Concatenating Two Lists

In [168]:
list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3

print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
names = ["Max", "Sam", "Josh", ["Sally", ["Sue", "Jim"], "Tameka"]]
print(names)
print(names[3][1][1])

##### Looping Through Lists

In [169]:
for i in range(len(names)):
    print(names[i])

Max
Sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [104]:
for num in range(20):
    cube = num ** 3
    if cube <= 1000:
        print(cube)
    else:
        break

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [179]:
# I ommited 1 and 2 because they are technically not primes
# This took a very long time.

num = 3
while num <= 100:
    for x in range(2, (num//2) + 1):
        if num % x == 0:
            break
    else:
        print(f"{num} is prime")
    num += 1

3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime
31 is prime
37 is prime
41 is prime
43 is prime
47 is prime
53 is prime
59 is prime
61 is prime
67 is prime
71 is prime
73 is prime
79 is prime
83 is prime
89 is prime
97 is prime

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [98]:
age = int(input("What is your age?: "))

if age < 18:
    print("kids")
elif age >= 18 and age <= 65:
    print("adults")
else:
    print("seniors")

What is your age?: 17
kids